<h1>Welcome to Music App, <%= @user.username %></h1>
  <p>
    You have successfully signed up here! 
    your username is: <%= @user.username %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>